.thewordinary-panel {
  width: 116%;
  margin: 0;
  margin-left: -16px;
  margin-top: -2px;
  margin-bottom: 16px;
}
body {
  width: 238px;
}
.signed {
  font-family: sans-serif;
  right: 3px;
  position: absolute;
  color: gray;
  margin-top: -14px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    text-align: center;
}
.contentDiv {
  text-align: center;
}
.form-control {
    display: block;
    width: 100%;
    font-weight: bold;
    height: 34px;
    text-align: center;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.panel-info>.panel-heading {
    color: #ffffff;
    background-color: #980000;
    border-color: #bce8f1;
}
.panel-info>.panel-heading {
    color: #ffffff;
    background-color: #00985a;
    border-color: #bce8f1;
}